#tableau{
	border: 1px solid black;
  border-collapse: collapse;
}
#txt{
    border: dotted ;
}
#tete{
    border: none;
    font-family:Arial Black;
}
#foot{
    background-color: white;
border-collapse:collapse;

}
div{
    line-height: 10px;
}
#img{
    width: 60%;
    height: 60%;
}

